In [1]:
import pandas as pd

In [37]:
csv_path = "raw_data/election_data_1.csv"

In [38]:
elections = pd.read_csv(csv_path)

elections.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [39]:
totalvotes = elections["Candidate"].count()
totalvotes

803000

In [40]:
nvotes = pd.DataFrame(elections["Candidate"].value_counts())
nvotes = nvotes.rename(columns={"Candidate":"Total Votes"})
nvotes

        Total Votes
Vestal       385440
Torres       353320
Seth          40150
Cordin        24090

In [41]:
percentagevotes = pd.DataFrame((nvotes/totalvotes)*100)
percentagevotes = percentagevotes.rename(columns={"Total Votes":"% of Votes"})
percentagevotes

        % of Votes
Vestal        48.0
Torres        44.0
Seth           5.0
Cordin         3.0

In [42]:
results = pd.concat([nvotes, percentagevotes], axis=1)

results

        Total Votes  % of Votes
Vestal       385440        48.0
Torres       353320        44.0
Seth          40150         5.0
Cordin        24090         3.0

In [43]:
winner = nvotes.idxmax()
print("The winner is " + winner['Total Votes'])

The winner is Vestal